.header  {
    background: #fff;
    color: #000;
    position: fixed;
    z-index: 10;
    width: 100%;
    
}

.header.active  {
    background: transparent;
    color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.text {
    color: #000;
}

.text.active {
    color: #fff;
}


  
