.ant-collapse-arrow {
    display: none !important;
}

.ant-collapse-content-box {
    background-color: #28a745 !important;
    padding: 0 !important;
    border-radius: 4px;
}
/* 
@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 996px) {
}

@media screen and (max-width: 768px) {
    .header {
        /* background: #fff; */
        /* position: fixed;
        z-index: 99;

        
    }
    .nav {
        display: flex;
        justify-content: space-between;
    } */
/* }  */